<footer class="site-footer">

  <div class="wrapper">

    <footer>

<h2><a href="">Get in touch</a></h2>
      <p class="contact">
          <a href="/contact-us"><span>01473 213222</span></a>
          <a href="/contact-us">hello@crafted.co.uk</a>
      </p>
      <ul class="social">
  <li><a title="Share on LinkedIn (opens in new window)" class="no-underline" title="Find us on LinkedIn" href="https://www.linkedin.com/company/crafted-media" target="_blank"></a></li>
  <li><a title="Share on Twitter (opens in new window)" class="no-underline" title="Find us on Twitter" href="https://twitter.com/craftedmedia" target="_blank"></a></li>
  <li ><a title="Share on Facebook (opens in new window)" class="no-underline" title="Find us on Facebook" href="https://www.facebook.com/craftedmedia" target="_blank"></a></li>
  <li id="ctl00_ctl00_ucFooter_ucSocialLinks_liYouTube"><a title="Share on YouTube (opens in new window)" class="no-underline" title="Find us on YouTube" href="https://www.youtube.com/channel/UCBhb9TEEZIeMuHQRbRudGFg" target="_blank"></a></li>
</ul>


<ul>
<li>About Us</li>
<li>Contact Us</li>
<li>Careers</li>
<li>Privacy</li>
<li>Cookie policy</li>
<li>Logistics and Automotive</li>
<li>Financial Services</li>
<li>Hospitality</li>
<li>Travel and Leisure</li>
<li>Property</li>
<li>Retail</li>
</ul>

  </footer>

  </div>

</footer>
